<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error | Turbo Consent</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/output.css}" />
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bulma.js}"></script>
</head>
<body>
    <!-- Navigation bar start -->
    <nav class="navbar is-dark has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <a th:href="@{/}" class="navbar-item">
                    <img th:src="@{/media/wtc_logo.gif}" alt="Logo" />
                    <p id="brand-title"><strong>&ensp;&nbsp;Turbo Consent</strong></p>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="https://www.wethecurious.org/" class="navbar-item">
                        We The Curious Website&ensp;<i class="is-size-4 fa fa-angle-double-right is-hidden-mobile"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Banner start -->
    <section class="hero is-danger is-2 is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Something went wrong!
                </h1>
                <h2 class="subtitle">
                    <ul>
                        <li th:inline="text">HTTP Error Code: [[${status}]]</li>
                        <li th:inline="text">Please contact support@turboconsent.com</li>
                    </ul>
                </h2>
            </div>
        </div>
    </section>

    <div class="box">
        <a class="has-text-link" th:href="@{/}">Go To Turbo Consent Homepage</a>
        <br />
        <a class="has-text-danger back">Go Back</a>
    </div>

    <!-- Footer start -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>Copyright © 2018 Turbo Consulting</p>
                <!--<a href="#">Terms of Use</a> &nbsp;·&nbsp;-->
                <!--<a href="#">Privacy Policy</a> &nbsp;·&nbsp;-->
                <!--<a href="#">Accessibility</a>-->
            </div>
        </div>
    </footer>
</body>
</html>